* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lgray: hsl(212, 45%, 89%);
    --gishblue: hsl(220, 15%, 55%);
    --dblue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--lgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container {
    background-color: var(--white);
    width: 90%;
    max-width: 325px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.content {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

p {
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
}

p span {
    display: block;
}

.attribution {
    padding-top: 2rem;
    text-align: center;
}

@media screen and (max-width:320px) {
    h1 {
        font-size: 1.5rem
    }
    p {
        font-size: 1rem;
    }
}

@media screen and (min-width:800px) {
    .container {
        width: 40%;
    }
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}